* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;

  background-color: #393939;
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  min-height: 50px;

  background-color: #2b2b2b;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.company-logo {
  display: flex;
  align-items: center;

  text-decoration: none;
}

.company-logo * {
  margin: 1vh;
  pointer-events: none;
}

.menu {
  display: flex;
  flex-direction: row;
}

.menu * {
  margin: 1vh;
}

.modal-root {
  display: none;
}

.modal-open {
  display: block;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding-top: 30px;

  width: 100%;
}

.menu-button {
  background: transparent;
  outline: none;
  border: none;
}

.menu-button:hover {
  cursor: pointer;
  text-decoration: underline;
}